body {
    background-color: $brand-primary;
}

.btn-remove {
    background-color: red !important;
}


.btn-completed {
    background-color: green !important;
}

.content {
    padding: 20px;
}

.overdue {
    color: red;
}