$mat-custom-primary: (
    50 : #eaf6f5,
    100 : #cae9e6,
    200 : #a6dbd6,
    300 : #82ccc5,
    400 : #68c1b8,
    500 : #4db6ac,
    600 : #46afa5,
    700 : #3da69b,
    800 : #349e92,
    900 : #258e82,
    A100 : #cefff9,
    A200 : #9bfff3,
    A400 : #68ffec,
    A700 : #4effe9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$mat-custom-accent: (
    50 : #e3e7ec,
    100 : #bac4cf,
    200 : #8c9cb0,
    300 : #5d7490,
    400 : #3b5778,
    500 : #183960,
    600 : #153358,
    700 : #112c4e,
    800 : #0e2444,
    900 : #081733,
    A100 : #6d98ff,
    A200 : #3a74ff,
    A400 : #0750ff,
    A700 : #0045ec,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);



